html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row-content {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-flow: column;
}

.vertical-center {
  display: flex;
  justify-content: center;
}
